In [1]:
name="vishnu"
print(type(name))

<class 'str'>

In [3]:
a=1
b='1'
type(a),type(b)

(int, str)

In [4]:
s=str()
s,type(s)

('', str)

In [5]:
name

'vishnu'

In [6]:
name[2]

's'

In [7]:
l=len(name)
name[l-1]

'u'

In [9]:
name[-1]

'u'

In [11]:
name[-l]

'v'

In [12]:
name[-7]

IndexError: string index out of range

### String slicing

In [18]:
print(name[0:4])

vish

In [19]:
name[0:4]

'vish'

In [20]:
name[3:]
# By default end value is the last letter of the string

'hnu'

In [22]:
name[:4]
# By default starting index is the first element of the string ie index is '0'

'vish'

In [23]:
name[0:l:2]

'vsn'

In [24]:
name[:]

'vishnu'

In [27]:
name[l::-1]

'unhsiv'

In [28]:
name[l:-1:-1]

''

In [30]:
name[::-1]
# if third argument is negative value then starting value is lenght and ending value is the starting index of the string

'unhsiv'

In [32]:
name[3::-1]

'hsiv'

In [34]:
name[l-3:l:]

'hnu'

In [36]:
name[-3:]

'hnu'

In [39]:
name[l-1:l-4:-1]

'unh'

In [40]:
# Changing position of the element in the string
# individual element cannot be altered in a string
# instead entire string can be altered irrespective of the size
a

1

In [41]:
# to delete a variable we can delete using keword del
del a

In [43]:
a

NameError: name 'a' is not defined

In [44]:
# we cant delete individual element in a string but whole string can be deleted
# String is an immutable data type so deleting and modifing individual elements cannot be processed
# instead entire string opearation can be done
name="vardhan"
name

'vardhan'

In [47]:
# Predefined functions in string:
# len(name) Returns length of the strind
# min(name) Returns lowest ascii value element in string
# max(name) Returns highest ascii value element in string
# ord('element') displays the ascii value of the element
# chr(ascii value) displays the element with respective ascii value
print(len(name))
print(min(name))
print(max(name))
print(ord('a'))
print(chr(97))

7
a
v
97
a

In [64]:
# print values of a-z, A-Z using above functions using loops:
# ascii values of: a=97, z=122, A=65, Z=90
print("Small a-z: ")
for i in range(97,123):
    if i==122:
        print(chr(i),end="\n")
    else:    
        print(chr(i),end=",")
print("Capital A-Z: ")
for i in range(65,91):
    if i==90:
        print(chr(i))
    else:    
        print(chr(i),end=",")

Small a-z:
a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
Capital A-Z:
A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z

### String Methods

In [66]:
# capitalize() used to capitalize first letter in the string
# Syntax: string_name.capitalize()
name.capitalize()

'Vardhan'

In [67]:
# upper() used to capitalize all the letters in the string
# Syntax: string_name.upper()
# it returns just a duplicate one but original is not changed
name.upper()

'VARDHAN'

In [68]:
name

'vardhan'

In [69]:
# title() is used to make all starting letters of the words capital if there are multiple words in as string
s="vishnu vardhan"
s.title()

'Vishnu Vardhan'

In [70]:
s.upper()

'VISHNU VARDHAN'

In [71]:
s

'vishnu vardhan'

In [74]:
# s.isupper() return True if all the letters in the string is upper else returns False
s.isupper()

False

In [76]:
# s.islower() return True if all the letters in the string is lower else returns False
s.islower()

True

In [77]:
# s.istitle() returns True if all the startng values of a words of strinf is upper case else returns false
s.istitle()

False

In [78]:
s.title().istitle()

True

In [79]:
# to check whether all letters in a string are digits are not: string.isdigit()
sid="123"
sid.isdigit()

True

In [80]:
"123r".isdigit()

False

In [81]:
# isalpha() is used to check whether all the letters in the string are alphabets are not
sid.isalpha()

False

In [82]:
"vishnu".isalpha()

True

In [83]:
# split() is a method used to print words seperately in case of multiple words in a string
s="vishnu vardhan"
words=s.split(" ")
print(words)
# here words is a list

['vishnu', 'vardhan']

In [87]:
'-'.join(s)
# '*'.join(s) is used to join every character in a string using * 
# * or any character can be used

'v-i-s-h-n-u- -v-a-r-d-h-a-n'

In [115]:
m="a-p-s-s-d-c"
# we want - to be replaced by _
for i in range(len(m)):
    if ord(m[i])>=97 and ord(m[i])<=122: 
        print(m[i],end="")
    else:
        print("_",end="")

a_p_s_s_d_c

In [116]:
# above problem can be solved using keyword as mentiond below
m="a-p-s-s-d-c"
"_".join(m.split("-"))

'a_p_s_s_d_c'

In [125]:
# string.find('key') is used to find the index of the particular key in the string.
# if there are multiple keys in the string, then first occured element's index is displayed.
m.find('s')

4

In [127]:
# startswith('key') returns true if the starting element of the string is the key entered else returns false
m.startswith('a')

True

In [128]:
# similarly ends with:
m.endswith('c')

True

In [129]:
m.rfind('-')
# rfind('key') is used to find the key from reverse order.

9

In [130]:
m,len(m)

('a-p-s-s-d-c', 11)

In [134]:
#string.center(required_length,"restofplaces key")
print(m.center(21,"*"))

*****a-p-s-s-d-c*****

In [135]:
m.ljust(21,"*")

'a-p-s-s-d-c**********'

In [136]:
m.rjust(21,"*")

'**********a-p-s-s-d-c'

In [137]:
str='     hi hello   '
# to remove left side places in the strig then strinf.lstrip() is used
str.lstrip()

'hi hello   '

In [138]:
# similarly rstrip() for removing right side spaces in the string
str.rstrip()

'     hi hello'

In [139]:
# for both left and right side removal of spaces then .strip() is used
str.strip()

'hi hello'

In [140]:
print(1,2)

1 2

In [141]:
print(1,2,sep=":")

1:2

In [142]:
print(1,2,sep=":",end=";")

1:2;

In [143]:
print(1,sep=":",end=";")

1;

### Functions

In [144]:
# def  fun_name(arguments):
#    Statements
#    Body of the function

In [145]:
def add(a,b):
    print(a+b)
add(1,5)

6

In [146]:
def addition(a,b):
    return(a+b)
print("Additon: ",addition(1,5))

Additon:  6

In [148]:
def add(a,b):
    print(a+b)
print("Addition:",add(1,5))
# Here we get none since it is not returning any value.

6
Addition: None

### Keyword Arguments

In [151]:
def print_vals(a,b):
    print("a=",a,"\nb=",b)
print_vals(2,3)

a= 2
b= 3

In [153]:
def print_vals(a,b):
    print("a=",a,"\nb=",b)
print_vals('a','b')

a= a
b= b

In [154]:
print_vals('b','a')

a= b
b= a

In [155]:
print_vals(b='b',a='a')

a= a
b= b

### Default Arguments

In [ ]:
def student_details(name,branch='eee'):
    print(name,branch)
student_details('vishnu')

In [159]:
student_details('vishnu','ece')

vishnu ece

### Variable Length Argument

In [160]:
add(2,3)

5

In [162]:
def add(a,b,*values):
    return a+b+sum(values)
add(1,2,3)

6

In [163]:
add(1,2,3,4,5)

15